{% extends 'base.html' %}

{% block TITLE %}Blog{% endblock TITLE %}
{% block ROOTPATH %}../{% endblock %}
{% block CUSTOM_CSS %}
body {
    font-size: 0.75rem;
}
ul li {
    list-style: none;
}
.post {
    padding: 5px;
    border: 1px solid black;
    margin-bottom: 5px;
}
{% endblock CUSTOM_CSS %}

{% block MAIN %}
    <header>
        <h1>Blog</h1>
    </header>

    <section id="posts">
        {% for post in posts %}
        <div class="post">
            <p style="margin-bottom: 0px;">
                <a href="{{ post.url }}"><strong>{{ post.title }}</strong></a> <br/>
                <small><i>{{ post.date }} | {{ post.description }}</i></small>
            </p>
        </div>
        {% endfor %}
    </section>
{% endblock MAIN %}
