<!DOCTYPE html>

<html>
<head>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>Detailed score overview</title>
<link href="styles.css" rel="stylesheet"/>
<link href="favicon.png" rel="icon" type="image/x-icon"/>
</head>
<body>
<div id="header">
<h1><a href="" title="Article 53(1)(d) training data transparency index">Article 53(1)(d)</a>: training data transparency index</h1>
</div>
<div id="content">
<p id="tagline">How compliant are model providers with existing transparency standards posed by the EU AI Act?</p>
<div id="index">
<p><ul>&nbsp;
<li><a href="home.html"><u>Home</u></a>
<li><a href="overview.html"><u>Overview</u></a>
<li><a href="data_summaries.html"><u>Data summaries</u></a>
<li><a href="methodology.html"><u>Methodology</u></a>
<li><a href="recommendations.html"><u>Recommendations</u></a>
<li><a href="about.html"><u>Contact</u></a>
</ul></p>&nbsp;
</div><br>
<div id="data_summaries">
<h2>Data summaries collected</h2>
<p><ul style="list-style-type: none;">
<li><b>Apertus: </b> <a href="Apertus_EU_Public_Summary -- 2025_11_12.pdf">Apertus EU Public Summary</a></li>
<li><b>Bielik: </b> <a href="Bielik 11B v3 EU Public Summary -- 2026_01_12.pdf">Bielik 11B v3 EU Public Summary</a></li>
<li><b>Bria: </b> <a href="Bria -- EU AI Act - GPAI Code of Practice -- 2026_01_12.pdf">Bria EU AI Act - GPAI Code of Practice</a></li>
<li><b>Phi: </b> <a href="Phi 4 -- 2026_02_05.pdf">Phi 4 Data Summary</a></li>
<li><b>SmolLM: </b> <a href="SmolLM3-3B EU Data Transparency -- 2025_11_12.pdf">SmolLM3-3B EU Data Transparency</a></li>
</ul></p>
</div>
<div id="footer">
<p>We gratefully acknowledge funding from Mozilla.org for this project.</p>
<p class="copyright">Website &amp; code © 2026 by the authors. If you find any of this useful, our <a href="Preprint link here">paper</a> provides the canonical and most durable citation.</p>
<p id="build-time">Table last built on {{ curr_date }}</p>
</body>
</html>
